<!DOCTYPE html>
<html>
    <head>
        <title>Band Page</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        {% if band %}
        <div class="jumbotron">
            <div class="container">
                <h1>{{ band }}</h1>
            </div>
        </div>
        
        <div class="container">
            <h3>Members</h3>
            <ul class="list-group">
                {%for member in members%}
                    <li class="list-group-item">{{member}}</li>
                {%endfor%}
            </ul>
            
            <h3><a href="{%url 'tasklist' band.id%}">Tasks</a></h3>
            <h3>Songs</h3>
        </div>
        
        {% else %}
            <p>No band selected!</p>
        {% endif %}
        
    </body>
</html>