{%extends 'base.html'%}

{%block content%}
    <ul class="list-group">
        <div class="list-group-item">
            <h3>Members</h3>
            <ul>
            {%for member in members%}
                {%if member.active%}
                    <li>{{member}}</li>
                {%endif%}
            {%endfor%}
            </ul>
        </div>
        
        <a href="{%url 'tasklist'%}" class="list-group-item"><h3>Tasks</h3></a>
        <div class="list-group-item"><h3>Songs</h3></div>
    </ul>
{%endblock%}