<!DOCTYPE html>
<html>
    <head>
        <title>Band Manager</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}"/>
        <script type="text/javascript" src="{% static 'formFunctions.js' %}"></script>
    </head>
    <body>
        {%if band%}
            
            <div class="jumbotron">
                <div class="container">
                    <h1 class="label title"><a href="{%url 'band'%}">{{band}}</a></h1>

                    <div class="pull-right">
                        <h4><a href="{%url 'logout'%}">logout</a></h4>
                    </div>
                </div>
            </div>

            
            <div class="container">
                {%block content%}
                {%endblock%}
            </div>
            
            
        {%else%}
            <p>No Band Selected!!!</p>
        {%endif%}
    </body>
</html>