{%extends 'base.html'%}

{%block content%}
    <form action="{%url 'addtask' %}" method="POST" role="form" id="addTask">
        {%csrf_token%}
        <legend>Add Task</legend>
    
        <div class="form-group">
            <label>Title</label>
            <input 
                id="TaskTitle"
                name="TaskTitle" type="text"
                class="form-control"
                placeholder="enter title here"
                onkeyup="taskFormIsFilled()"
            >
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea 
                id="TaskDescription"
                name="TaskDescription"
                class="form-control"
                placeholder="enter description here"
                rows="6"
                onkeyup="taskFormIsFilled()"
            ></textarea>
        </div>

        <div class="form-group">
            <label>Difficulty: </label>
            <input name="TaskDifficulty" type="number" min="0" max="9" value="0">
        </div>

        <div class="form-group">
            <label>Priority: </label>
            <input name="TaskPriority" type=number min="0" max="9" value="0">
        </div>

        <div class="form-group">
            <label>Assignee: </label>
            <select name="TaskAssignee">
                <option value="None">--------</option>
                {%for member in members%}
                    <option value="{{member.pk}}">{{member}}</option>
                {%endfor%}
            </select>
        </div>
    
        <button id="submit" type="submit" class="btn btn-primary pull-right" disabled="true">Submit</button>
    </form>
{%endblock%}