{%extends 'base.html'%}

{%block content%}
    
    <a class="btn btn-default" href="{%url 'tasklist'%}" style="margin-bottom: 20px;">
        Back to Tasklist
    </a>
    <!--Task Content-->
    <div id="task-body">
        <div>
            <ul class="row list-unstyled">
                <li class="col-xs-6">
                    {%if task.member != None%}
                        <img src="{{task.member.picture_url}}" class="custom-round-box">
                    {%endif%}
                </li>
                <li class="col-xs-6">
                    <div class="custom-round-box pull-right">
                        {%if task.completed%}
                            <img src="https://s3-us-west-2.amazonaws.com/bandmanagerimages/complete.png">
                        {%endif%}
                    </div>
                </li>
            </ul>
            
            <div class="panel panel-default" style="margin-top: 10px;">
                  <div class="panel-heading">
                        <h3 class="panel-title">{{task}}</h3>
                  </div>
                  <div class="panel-body">
                        <p>{{task.description}}</p>
                  </div>
            </div>
            
                
            <h4>Difficulty: {{task.difficulty}}</h4>
            <h4>Priority: {{task.priority}}</h4>
        </div>
        {%if task.member == None%}
            <a id="assign" class="btn btn-primary" href="{%url 'assignTask' task.id%}">Assign Task</a>
        {%elif task.member == user.member%}
            {%if not task.completed%}
                <a id="complete" class="btn btn-primary" href="{%url 'completeTask' task.id%}">Complete Task</a>
                <a id="unassign" class="btn" href="{%url 'unassignTask' task.id%}">Unassign Task</a>
            {%endif%}
            <a id="delete" class="btn btn-danger" href="{%url 'deleteTask' task.id%}">Delete Task</a>
        {%endif%}

    </div>

    <!--Comments-->
    {%for comment in taskComments%}
        
        <ul class="list-unstyled" style="margin-top: 30px;">
            <li class="col-md-1 col-xs-2">
                <img src="{{comment.commenter.picture_url}}" class="custom-round-box">
            </li>
            <li class="col-md-11 col-xs-10">
                
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{comment.commenter}}</h3>
                    </div>

                    <div class="panel-body">
                        {{comment.body}}
                    </div>
                    {%if comment.commenter == user.member%}
                        <div class="panel-footer clearfix">
                            <a class="btn btn-danger btn-xs pull-right" href="{%url 'deleteComment' task.id comment.id%}">Delete</a>
                        </div>
                    {%endif%}
                </div>
                
            </li>
        </ul>
        
    {%endfor%}

    
    <!--Add Comment-->
    <form action="{%url 'makeComment' task.id%}" method="POST" role="form" id="addComment">
        {%csrf_token%}
        <legend>Comment</legend>
    
        <div class="form-group">
            <textarea
                name="BodyText"
                class="form-control"
                placeholder="comment"
                rows="6"
                id="BodyText"
                onkeyup="commentFormIsFilled()"
                onkeydown="disable()"
            ></textarea>
        </div>
    
        <button id="submit" type="submit" class="btn btn-primary pull-right" disabled="true">Comment</button>
    </form>
    

{%endblock%}